# History files
.Rhistory

# Example code in package build process
*-Ex.R
*.~1~
*.~2~
*.~3~

*.RData

*.RData

*.RData

*.RData

2nd.Version/GP_results.RData

*.~5~

*.~7~

*.~6~

*.bbl

*.aux

*.blg

*.log

*.el

*.bib#
